.style1 {
            width: 1024px;
        }
.style2{
            font-family:"Verdana";
            font-size:xx-large;
            font-weight:bold;
            color:#000099;
            text-align:center;
            padding:0;
        }
.style3{
            font-size:large;
            font-weight:bold;
            color:#FFFFFF;
            font-family:"Comic Sans MS";
        }
.style4{
            width:100%;
        }
.style5{
            text-align:center;
        }
.style12{
            font-family:Tahoma;
            text-align:center;
            width:166px;
        }
.style15{
            text-align:center;
            width:165px;
            color:#FFFFFF;
            text-decoration:underline;
        }
.styleText {
            font-family:Tahoma;
        }
